                                                                                     
                              ABACUS v3.9.0.26

               Atomic-orbital Based Ab-initio Computation at UStc                    

                     Website: http://abacus.ustc.edu.cn/                             
               Documentation: https://abacus.deepmodeling.com/                       
                  Repository: https://github.com/abacusmodeling/abacus-develop       
                              https://github.com/deepmodeling/abacus-develop         
                      Commit: ba570a7ed (Mon Mar 30 12:27:45 2026 +0800)

 Fri Apr  3 07:47:54 2026
 MAKE THE DIR         : OUT.ABACUS/
 RUNNING WITH DEVICE  : CPU / 12th Gen Intel(R) Core(TM) i5-1240P (x1)
 WARNING: some of potential function is set to zero cause of less than 1e-30.
 UNIFORM GRID DIM     : 125 * 125 * 125
 UNIFORM GRID DIM(BIG): 25 * 25 * 25
 DONE(0.617418   SEC) : SETUP UNITCELL
 DONE(0.618165   SEC) : INIT K-POINTS
 ---------------------------------------------------------
 Self-consistent calculations for electrons
 ---------------------------------------------------------
 SPIN    KPOINTS         PROCESSORS  THREADS     NBASE       
 1       Gamma           1           2           9           
 ---------------------------------------------------------
 Use Systematically Improvable Atomic bases
 ---------------------------------------------------------
 ELEMENT ORBITALS        NBASE       NATOM       XC          
 H       3s2p-10au       9           1           
 ---------------------------------------------------------
 Initial plane wave basis and FFT box
 ---------------------------------------------------------
 DONE(0.79702    SEC) : INIT PLANEWAVE
 START CHARGE      : atomic
 DONE(1.14583    SEC) : CHARGE
 DONE(1.23308    SEC) : POTENTIALS

 ================================================================
 SELF-CONSISTENT: 
 ================================================================
 DONE(2.28421    SEC) : INIT SCF
 ITER       ETOT/eV          EDIFF/eV         DRHO     TIME/s
 GE1     -1.21110601e+01   0.00000000e+00   4.9132e-02   1.10
 GE2     -1.21122112e+01  -1.15108624e-03   3.0026e-02   1.04
 GE3     -1.21122775e+01  -6.62841808e-05   4.2075e-03   1.04
 GE4     -1.21122628e+01   1.47060363e-05   1.1322e-03   0.96
 GE5     -1.21122579e+01   4.87908401e-06   4.7518e-04   0.74
 GE6     -1.21122570e+01   9.70457781e-07   1.6071e-04   0.93
 GE7     -1.21122568e+01   1.33909799e-07   7.8308e-05   1.03
 GE8     -1.21122563e+01   5.36357765e-07   6.9864e-05   0.95
 GE9     -1.21122561e+01   2.02443361e-07   1.5343e-05   1.17
 GE10    -1.21122561e+01   1.35347387e-08   4.3658e-06   0.96
 GE11    -1.21122561e+01  -3.56718042e-09   2.2367e-06   0.92
 GE12    -1.21122561e+01   7.86475631e-10   3.9751e-07   0.65
 GE13    -1.21122561e+01  -1.02519318e-09   2.2829e-07   0.84
 GE14    -1.21122561e+01   8.91327972e-10   9.1002e-08   1.22
 GE15    -1.21122561e+01  -5.62513002e-10   1.8390e-08   0.96
 GE16    -1.21122561e+01  -6.23277331e-11   1.2740e-08   0.91
 GE17    -1.21122561e+01  -4.22363969e-10   1.2333e-08   0.78
 GE18    -1.21122561e+01   4.56394833e-10   1.0572e-08   0.73
 GE19    -1.21122561e+01   2.63827182e-10   1.5615e-09   0.85

TIME STATISTICS
------------------------------------------------------------------
   CLASS_NAME           NAME        TIME/s  CALLS   AVG/s  PER/%  
------------------------------------------------------------------
                 total              20.17  13       1.55   100.00 
 Driver          atomic_world       20.17  1        20.17  100.00 
 ESolver_KS_LCAO before_all_runners 1.22   1        1.22   6.05   
 mymath          heapsort           0.39   3        0.13   1.94   
 PW_Basis_Sup    recip2real         4.10   121      0.03   20.32  
 Relax_Driver    relax_driver       18.90  1        18.90  93.72  
 ESolver_KS      runner             18.90  1        18.90  93.72  
 ESolver_KS_LCAO before_scf         1.05   1        1.05   5.21   
 Potential       init_pot           0.99   1        0.99   4.90   
 Potential       cal_veff           13.17  20       0.66   65.30  
 H_Hartree_pw    v_hartree          1.64   20       0.08   8.11   
 PW_Basis_Sup    real2recip         4.13   139      0.03   20.48  
 PotXC           cal_veff           11.40  20       0.57   56.54  
 XC_Functional   v_xc               11.36  20       0.57   56.32  
 HSolverLCAO     solve              2.69   19       0.14   13.34  
 HamiltLCAO      updateHk           1.37   20       0.07   6.78   
 OperatorLCAO    init               1.37   140      0.01   6.78   
 Veff            contributeHR       1.10   19       0.06   5.46   
 Gint            cal_gint_vl        1.10   19       0.06   5.46   
 DeePKS          contributeHR       0.26   19       0.01   1.30   
 DeePKS_domain   cal_edelta_gedm    0.24   20       0.01   1.19   
 LCAO_domain     dm2rho             1.31   19       0.07   6.47   
 Gint            cal_gint_rho       1.17   19       0.06   5.79   
 Charge_Mixing   mix_rho            2.24   18       0.12   11.12  
 Charge_Mixing   mix_rho_real       2.15   18       0.12   10.65  
 Charge_Mixing   Kerker_screen_real 1.46   18       0.08   7.24   
------------------------------------------------------------------


 START  Time  : Fri Apr  3 07:47:54 2026
 FINISH Time  : Fri Apr  3 07:48:15 2026
 TOTAL  Time  : 21
 SEE INFORMATION IN : OUT.ABACUS/
0 #SCF IS CONVERGED#
